<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.css"> -->
  
</head>

<body>
    <%-include('../includes/navbar.ejs')%>
<div id="wrapper">
    <!-- Sidebar -->
    <%-include('../includes/admin/sidenavbar.ejs')%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    
    <div id="page-content-wrapper">
        <div class="container-fluid" style="min-height: 400px;">

            <div class="navbar navbar-default no-margin">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <form action="/admin/downloads" method="POST">

                        <div class="d-flex" style="width: 100%; min-height: 50px; padding: 5px; box-sizing: border-box; flex-direction: row; justify-content: space-between;">
                            <div style="display: inline-block;">Dashboard</div>
                            <div style="display: inline-block; float: right;">
                                <ul>
                                    <li style="display: inline-block;">Department: </li>
                                    <li style="display: inline-block;">
                                        <select class="form-control" name="depart" v-on:change="depart_fn">
                                            
                                            <% for(data in depart){ %>
                                                <option value="<%= depart[data] %>"><%= depart[data] %></option>
                                            <% } %>

                                        </select>
                                    </li>
                                    <li style="display: inline-block;">Date: </li>
                                    <li style="display: inline-block;">
                                        <input class="form-control" type="date" name="date" v-on:change="date_fn">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- by default -->
                        <div v-show="state == 'default'">

                            <!-- table goes up here -->

                            <div class="d-flex" style="flex-direction: column;">
                                
                                <!-- top: table -->
                                <div class="table-responsive" style="margin-bottom: 10px; min-height: 300px;">

                                    <table id="example" class="display" style="width:100%;">
                                        
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Department</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Type</th>
                                                
                                                <th class="text-center">Period</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% for(data in leave){ %>
                                                <tr>
                                                    <td><%= leave[data].department %></td>
                                                    <td><%= leave[data].name %></td>
                                                    <td><%= leave[data].type %></td>
                                                    
                                                    <td><%= leave[data].period %></td>
                                                    <td><%= leave[data].status %></td>
                                                </tr>
                                            <% } %>
                                        </tbody>

                                    </table>
                                </div>

                                <!-- bottom: total -->
                                <div class="d-flex">
                                    <div style="float: left; margin-left: -40px;">
                                        <ul>
                                            <li style="display: inline-block;">Approved: <span class="text-success"><%= approved %></span> </li>
                                            <li style="display: inline-block;">Pending: <span class="text-primary"><%= pending %></span> </li>
                                            <li style="display: inline-block;">Dis-approved: <span class="text-danger"><%= disapproved %></span></li>
                                            <li style="display: inline-block;">Total: <span class="text-dark"><%= total %></span></li>
                                        </ul>
                                    </div>
                                    <div  style="float: right;">
                                        <button class="btn btn-sm btn-primary" v-on:click="downloads">Download</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- axios data -->
                        <div v-show="state == 'axios'">

                            <!-- table goes up here -->

                            <div class="d-flex" style="flex-direction: column;">
                                
                                <!-- top: table -->
                                <div class="table-responsive" style="margin-bottom: 10px; min-height: 300px;">

                                    <table id="example" class="display" style="width:100%;">
                                        
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Department</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">AppliedDate</th>
                                                <th class="text-center">Period(Days)</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr v-for="data in leave">
                                                <td>{{ data.department }}</td>
                                                <td>{{ data.name }}</td>
                                                <td>{{ data.type }}</td>
                                                <td>{{ data.date }}</td>
                                                <td>{{ data.period }}</td>
                                                <td>{{ data.status }}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                                <!-- bottom: total -->
                                <div class="d-flex">
                                    <div style="float: left; margin-left: -40px;">
                                        <ul>
                                            <li style="display: inline-block;">Approved: <span class="text-success">{{ app }}</span> </li>
                                            <li style="display: inline-block;">Pending: <span class="text-primary">{{ pen }}</span> </li>
                                            <li style="display: inline-block;">Dis-approved: <span class="text-danger">{{ disa }}</span></li>
                                            <li style="display: inline-block;">Total: <span class="text-dark">{{ total }}</span></li>
                                        </ul>
                                    </div>
                                    <div  style="float: right;">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="btn btn-sm btn-primary">Download</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                    </form>

                </div>
            </div>
            <%-include("../includes/admin/addleavetype.ejs")%>
            </div>
        </div>
            </div>
            <%-include('../includes/admin/footer.ejs')%>
            <%-include('../includes/end.ejs')%>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/axios.js"></script>
<script src="/vue.js"></script>
<script>

    let app = new Vue({

        el : "#wrapper",
        
        data : {

            date : "null",
            depart : "",

            app : 0,
            disa : 0,
            pen : 0,
            total : 0,
            leave : "",
            state : 'default'
        },

        methods : {

            date_fn : function(data){

                this.date = data.target.value
                this.filter()
            },

            depart_fn : function(data){

                this.depart = data.target.value
                this.filter()
            },

            downloads : function(){

                let self = this

                let date = self.date

                let depart = (self.depart == "") ? "All" : self.depart

                let target_depart = (depart == "N/A") ? "empty" : depart

                axios.get(`${"/admin/downloads/" + target_depart  + "/" + date }`)
                .then(function(data){

                })
            },

            filter : function(data){

                let self = this

                let date = self.date

                let depart = (self.depart == "") ? "All" : self.depart

                let target_depart = (depart == "N/A") ? "empty" : depart

                if(target_depart == "All" && date == "null"){

                    self.state = "default"

                }else{

                    axios.get(`${'/admin/filter/' + target_depart + '/' + date }`).then((response) => {

                        self.state = "axios"

                        self.app = response.data.app
                        self.disa = response.data.disa
                        self.pen = response.data.pen
                        self.total = response.data.total

                        self.leave = response.data.target_data
                    })
                }
            }
        }
    })

    $(document).ready(function () {
        
        $('#example').DataTable( {
            "pagingType": "numbers"
        } );

        ;

        // Apply the search
        // table.columns().every(function () {
        //     var that = this;

        //     $('input', this.footer()).on('keyup change', function () {
        //         if (that.search() !== this.value) {
        //             that
        //             .search(this.value)
        //             .draw();
        //         }
        //     });
        // });
    });

</script>
</body>
<%-include("../includes/admin/addDepartment.ejs")%>
</html>
