<!DOCTYPE html>
<html>
<head>
    <title>HRMS|<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/> -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.css"> -->
  
</head>

<body>
    <%-include('../includes/navbar.ejs')%>
<div id="wrapper">
    <!-- Sidebar -->
    <%-include('../includes/admin/sidenavfortraining.ejs')%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid ">
            <!-- <div class="row">
                <div class="col-lg-12"> -->
                   <div class="navbar navbar-default no-margin">
                    <div class="row">
                        <div<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                            <div class="card-header">
                              <h4>All Employee Training Reports</h4>
                            </div>
                    <div style="height:417px; overflow: auto">
                        <% if(hasTraining === 1){ %>
                        <table id="example" class="table-responsive" cellspacing="8px" style="height: 10%; overflow: auto;">
                            <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Employee Name</th>
                                <th class="text-center">Period</th>
                                <th class="text-center">request Date</th>
                               <th></th>
                            </tr>
                            </thead>
                        
                            <tbody>
                            <% for(var i = 0;i < request.length;i++){ %>
                            <tr>
                                <td><%= employees[i].name %></td>
                                <td><%= request[i].period %></td>
                           <td><%= moment(request[i].Date).format('MMMM Do YYYY') %></td>
                         
                           <td>
                            <form method="get"
                                  action="/admin/respond-application/<%= request[i]._id %>/<%= employees[i]._id %>">
                                <button type="submit"  class="btn btn-primary btn-sm "><i class="fa fa-reply fa-lg" title="Responsd"
                                                         aria-hidden="true"></i></button>
                            </form>
                        </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <% }else{ %>
                        <p> No report found</p>
                        <% } %>
                    </div>
                </div>
            </div>
            </div>
        </div>
            </div>
            <%-include('../includes/admin/footer.ejs')%>
            <%-include('../includes/end.ejs')%>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {


        $('#example').dataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });
        

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>
</body>
</html>
